.rotation-pad {
	position: absolute;
}

/* CHAT */
.rotation-pad .region {
    position: absolute;
    width: 30px; /* Adjust width for the vertical slider */
    height: 100px; /* Adjust the height to make the slider vertical */
    background: radial-gradient(rgba(218, 225, 230, 0.25) 5%, rgba(218, 225, 230, 0.50) 95%),
                url("images/nav3.png") center center no-repeat; /* Use the new nav3.png for the slider */
    border: 2px solid rgba(218, 225, 230, 0.25);
    border-radius: 20px; /* Keep the rounded edges for a smoother look */
    box-shadow: 0px 0px 5px rgba(194, 200, 204, 0.55);
    user-select: none;
    cursor: pointer; /* Make it more interactive */
}
/* CHAT */

.rotation-pad .handle {
	opacity: 0.1;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0px;
	left: 0px;
	background: radial-gradient(rgba(215, 225, 255, 0.70) 0%, rgba(215, 225, 255, 0.50) 100%);
	/*border: 1px solid rgba(145, 105, 245, 0.90);*/
	border-radius: 50%;
	box-shadow: 0px 0px 7px rgba(195, 205, 245, 0.9);
	text-align: center;
	font: 24px/44px "Courier New", Courier, monospace;
    user-select: none;
}

.movement-pad {
	position: absolute;
}

.movement-pad .region {
	position: absolute;
	width: 100px;
	height: 100px;
	background: radial-gradient(rgba(218, 225, 230, 0.25) 5%, rgba(218, 225, 230, 0.50) 95%),
				url("images/nav2.png") center center no-repeat;
	border: 2px solid rgba(218, 225, 230, 0.25);
	border-radius: 90px;
	box-shadow: 0px 0px 5px rgba(194, 200, 204, 0.55);
	user-select: none;
}

.movement-pad .handle {
	opacity: 0.1;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0px;
	left: 0px;
	background: radial-gradient(rgba(215, 225, 255, 0.70) 0%, rgba(215, 225, 255, 0.50) 100%);
	/*border: 1px solid rgba(145, 105, 245, 0.90);*/
	border-radius: 50%;
	box-shadow: 0px 0px 7px rgba(195, 205, 245, 0.9);
	text-align: center;
	font: 24px/44px "Courier New", Courier, monospace;
	user-select: none;
}
