# Python bytecode
*.pyc
__pycache__/

# Django
*.log
.env
db.sqlite3
staticfiles/
media/

# Mac
.DS_Store

# Virtual environment
venv/

# Migrations cache only
portfolioApp/migrations/__pycache__/

static/