# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django migration files
portfolioApp/migrations/

# Ignore virtual environment folder
venv/

# Ignore all .DS_Store files (common in macOS environments)
.DS_Store