{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Business Analyst" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        
{% block content %}

<br><br><br><br><br>
<div class="container">
  <h3 style="text-align: center; font-size: 2vw;"> {% trans "*All data provided has been changed in accordance with" %} </h3>
  <h3 style="text-align: center; font-size: 2vw;"> {% trans "data privacy practices of Brigham Young University*" %} </h3>
</div>
<br><br><br>

<div class="container justify-content-center">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-2 col-4" style="margin: 3vw;">
      <img src="https://drive.google.com/uc?id=1HZoOf7nMIqW_Ta3mV54Jbu3gfdE_67dY&export=download" style="width: 18vw; height: auto; cursor: pointer; outline:0;" onclick="changeDashboard('dashboard1')">
    </div>
    <div class="col-sm-2 col-4" style="margin: 3vw;">
      <img src="https://drive.google.com/uc?id=1Bv0A3pOxfbGY1len3CeZaMyiIiQAPvJf&export=download"style="width: 18vw; height: auto; cursor: pointer; outline:0;" onclick="changeDashboard('dashboard2')">
    </div>
     <div class="col-sm-2 col-4" style="margin: 3vw;">
      <img src="https://drive.google.com/uc?id=1d0fk7CUhO7TrmMq-ncNc1WF-YHW6sMKo&export=download"style="width: 18vw; height: auto; cursor: pointer; outline:0;" onclick="changeDashboard('dashboard3')">
    </div>
     <div class="col-sm-2 col-4" style="margin: 3vw;">
      <img src="https://drive.google.com/uc?id=1J5B590R6zIJyav8z9qKOrSTRNcYmLdJO&export=download"style="width: 18vw; height: auto; cursor: pointer; outline:0;" onclick="changeDashboard('dashboard4')">
    </div>
    <div class="col-sm-2 col-4" style="margin: 3vw;">
      <img src="https://drive.google.com/uc?id=1XXz1cYfpUkoDJVmrkHB5Mwj_FF3VlcuB&export=download"style="width: 18vw; height: auto; cursor: pointer; outline:0;" onclick="changeDashboard('dashboard5')">
    </div>
  </div>    
</div>  
<br><br>

<div id="dashboard1">
  <br>
  <div class="container justify-content-center">
    <h2 style="text-align: center; font-size: 2vw;"> {% trans "Commissioner's Office Dashboard" %} </h2>
    <br>
    <div class="container justify-content-center">
      <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Project Background: I was asked to bring each of these charts together into one cohesive dashboard allowing CIO's to have easier access and clearer workflows." %} </h3>
      <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Audience: Commissioner's office who work with the Board of Trustees to direct funds." %} </h3>
      <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "User: CIO's in their annual presentation to show correct use of funds in years past in order to prove an open process of checks and balances." %} </h3>
    </div>
    <br>
    <div class='tableauPlaceholder' id='viz1693262277391' style='position: relative'>
      <noscript>
        <a href='#'>
          <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CommissionersOfficeDashboard&#47;Dashboard1&#47;1_rss.png' style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='CommissionersOfficeDashboard&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CommissionersOfficeDashboard&#47;Dashboard1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
        <param name='filter' value='publish=yes' />
      </object>
    </div>
    <br>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1693262277391');
      var vizElement = divElement.getElementsByTagName('object')[0];
      if (divElement.offsetWidth > 800) {
        vizElement.style.width='1000px';
        vizElement.style.height='1727px';
      } else if (divElement.offsetWidth > 500) {
        vizElement.style.width='1000px';
        vizElement.style.height='1727px';
      } else {
        vizElement.style.width='100%';
        vizElement.style.height='2577px';
      }
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div id="dashboard2">
  <br>
  <h2 style="text-align: center; font-size: 2vw;"> {% trans "Annual Needs Review" %} </h2>
  <br>
  <div class="container justify-content-center">
    <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Project Background: I was asked to translate Excel files with specific data from five subsidiary companies into one interactive dashboard that provides the same insights from any view desired." %} </h3>
    <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Audience: Board of Directors who delegate funds to subsidiary universities." %} </h3>
    <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "User: CIO's in their annual presentation to request funds for specific IT needs." %} </h3>
    <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Issue Solved: Presentations in years past were manually constructed in Excel and printed out by each university. Data had to be cleaned and manipulated every year in order to fulfill presentation needs." %} </h3>
  </div>
  <br><br><br>
  <img src="https://drive.google.com/uc?id=1dyE4tHDokRPZ5fx843mxRfb7hSxuSvsw&export=download" style="width: 70vw; height: auto">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div id="dashboard3">
  <br>
  <div class="container justify-content-center">
    <h2 style="text-align: center; font-size: 2vw;"> {% trans "Footsteps of the Apostles" %} </h2>
    <br>
    <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "To better understand the life of the apostles in the New Testament, I wanted to visualize their footsteps." %} </h3>
    <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Below you can follow an estimated timeline that pairs with the location and description of what happened there." %} </h3>
    <br>
    <div class='tableauPlaceholder' id='viz1693277532300' style='position: relative'>
      <noscript>
        <a href='#'>
          <img alt='Dashboard (2) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NT&#47;NTWorldViz&#47;Dashboard2&#47;1_rss.png' style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='NTWorldViz&#47;Dashboard2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NT&#47;NTWorldViz&#47;Dashboard2&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
      </object>
    </div>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1693277532300');
      var vizElement = divElement.getElementsByTagName('object')[0];
      if (divElement.offsetWidth > 800) {
        vizElement.style.width='1366px';
        vizElement.style.height='795px';
      } else if (divElement.offsetWidth > 500) {
        vizElement.style.width='1366px';
        vizElement.style.height='795px';
      } else {
        vizElement.style.width='100%';
        vizElement.style.height='727px';
      }
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>  
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div id="dashboard4">
  <br>
  <div class="container justify-content-center">
    <h2 style="text-align: center; font-size: 2vw;"> {% trans "Language Industry Skill Relevance" %} </h2>
    <br>
    <div class="container justify-content-center">
      <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Project Background: I was assigned a project to research relevant skills in the language industry and train my classmates on the more relevant skills." %} </h3>
      <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "Audience: BYU Provo campus, Plang 380 students." %} </h3>
      <h3 style="text-align: left; font-size: 1.5vw;"> {% trans "User: Anyone interested in the Language Service Industry and wanting to gain an upper hand in the job application process." %} </h3>
    </div>
    <br>
    <div class='tableauPlaceholder' id='viz1700673142606' style='position: relative'>
      <noscript>
        <a href='#'>
          <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pl&#47;PlangProject&#47;Dashboard1&#47;1_rss.png' style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='PlangProject&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pl&#47;PlangProject&#47;Dashboard1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
      </object>
    </div>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1700673142606');
      var vizElement = divElement.getElementsByTagName('object')[0];
      if (divElement.offsetWidth > 800) {
        vizElement.style.width='1366px';
        vizElement.style.height='795px';
      } else if (divElement.offsetWidth > 500) {
        vizElement.style.width='1366px';
        vizElement.style.height='795px';
      } else {
        vizElement.style.width='100%';
        vizElement.style.height='727px';
      }
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>    
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div id="dashboard5">
  <br><br>
  <h2 style="text-align: center; font-size: 2vw;"> {% trans "BI & Data Analytics Certficates" %} </h2><br>
  <div class="container justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-5 col-4">
        <a href="https://www.credly.com/badges/b47ad772-8137-49cf-857c-a598b627a146/public_url"><img src="https://drive.google.com/uc?id=1VjbQmN6Ixi4uJFN-FI4Tyl2wksq6pxDk&export=download" style="width:25vw; height:auto;"></a>
      </div>
      <div class="col-sm-1 col-1">
      </div>
      <div class="col-sm-5 col-4">  
        <a href="https://www.credly.com/badges/dc903ea6-a504-4dbf-9a9d-903fcc363b57/public_url"> <img src="https://drive.google.com/uc?id=16p26LhJMbCfHIdmGNJ7YvfsExByeY8B9&export=download" style="width:25vw; height:auto;"></a>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<script>
  var highlightedImage = null; // To store the currently highlighted image

  function changeDashboard(dashboardId) {
    // Hide all dashboard divs
    var dashboardDivs = document.querySelectorAll('[id^="dashboard"]');
    for (var i = 0; i < dashboardDivs.length; i++) {
      dashboardDivs[i].style.display = 'none';
    }

    // Show the selected dashboard
    var selectedDashboard = document.getElementById(dashboardId);
    selectedDashboard.style.display = 'block';

    // Remove the highlight from the previously clicked image
    if (highlightedImage) {
      highlightedImage.style.outline = '0';
    }

    // Highlight the clicked image
    var clickedImage = document.querySelector('[onclick="changeDashboard(\'' + dashboardId + '\')"]');
    if (clickedImage) {
      clickedImage.style.outline = '3px solid white';
      highlightedImage = clickedImage;
    }
  }

  // Automatically show dashboard1 when the page loads
  document.addEventListener('DOMContentLoaded', function() {
    changeDashboard('dashboard1');
  });
</script>



{% endblock %}



