{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Mascot Portfolio" %}</title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        
        {% block content %}


  <br><br><br><br><br><br><br><br>
    <div class="row justify-content-center">
      <div class="containerExp">
        <div class="cardExp" onclick="performAction(this)">
          <h2>Crusher the Kadet</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://drive.google.com/uc?id=1lF-LkJBgno4kQnZ2hrgki3DW5MJFXWGU&export=download" alt="AAHS Mascot" style="width: auto; height: 125%; transform: translate(0%,0%);">
          </div>
          <br>
          <div class="titleExp titleExp--commonExp">High School</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-sm-5"> 
                <h4>35</h4>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h4>52</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5"> 
                <h6>Hours</h6>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h6>Appearances</h6>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="cardExp" onclick="performAction(this)">
          <h2>Stripes</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://drive.google.com/uc?id=1eR26DllD532QME11ozkJT9rLNeV0aEyb&export=download" alt="TRMAI Stripes" style="width: auto; height: 125%; transform: translate(0%,0%);">
          </div>
          <br>
          <div class="titleExp titleExp--commonExp">Contracted</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-sm-5"> 
                <h4>3</h4>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h4>4</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5"> 
                <h6>Hours</h6>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h6>Appearances</h6>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="cardExp" onclick="performAction(this)">
          <h2>Cosmo the Cougar</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://drive.google.com/uc?id=1SlLd_Jh5s1-d-M75iceDoKzj_0LxjxEK&export=download" alt="Image Description" style="width: auto; height: 125%; transform: translate(-25%,-15%);">
          </div>
          <br>
          <div class="titleExp titleExp--epicExp">Collegiate</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-sm-5"> 
                <h4>63</h4>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h4>35</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5"> 
                <h6>Hours</h6>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h6>Appearances</h6>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="cardExp" onclick="performAction(this)">
          <h2>Go the Gorilla</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://drive.google.com/uc?id=16P99RNhvNKwN-cHYAKDqyiNZI0QyPRaN&export=download" alt="PHX Suns Go" style="width: auto; height: 125%; transform: translate(0%,0%);">
          </div>
          <br>
          <div class="titleExp titleExp--epicExp">Contracted</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-sm-5"> 
                <h4>3</h4>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h4>1</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5"> 
                <h6>Hours</h6>
              </div>
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-5"> 
                <h6>Appearances</h6>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>      
    </div>
    <br><br><br>
    <div class="body2" style="height:50vh;">
      <div class="container3">
        <div class="horizontal"><img src="https://drive.google.com/uc?id=1FgJ30dMtCJnGh2DUbUHp_QJXN1L0-viR&export=download" alt="squad"></div>
        <div class="vertical"><img src="https://drive.google.com/uc?id=1SlLd_Jh5s1-d-M75iceDoKzj_0LxjxEK&export=download" alt="cougar tail"></div>
        <div class="horizontal"><img src="https://drive.google.com/uc?id=1YDYSY3K_Gt--zwQnJTw4UBrQqfNxJQVQ&export=download" alt="president"></div>
        <div class="big"><img src="https://drive.google.com/uc?id=1ZCB_Doko6gO2c6XchSFNsqvZZMiicThT&export=download" alt="y clap"></div>
        <div class="vertical"><img src="" alt=""></div>
        <div><img src="https://drive.google.com/uc?id=1RYnz0gms2jFK6nYQXv1jEeE5W_ldq7XS&export=download" alt="walk in"></div>
        <div class="vertical"><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div class="big"><img src="" alt=""></div>
        <div><img src="" alt="11"></div>
        <div class="horizontal"><img src="" alt=""></div>
        {% comment %} <div><img src="" alt="12.1"></div> {% endcomment %}
        <div class="horizontal"><img src="" alt="13"></div>
      </div>
    </div>    
  
{% endblock %}



