{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Mascot Portfolio" %}</title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        
        {% block content %}


  <br><br><br><br>
    <div class="row justify-content-center">
      <h4> Character Page!! </h4>
    </div>
    <br><br><br>
    <div class="body2" style="height:50vh;">
      <div class="container3">
        <div class="horizontal"><img src="https://drive.google.com/uc?id=1dD0TNNfVSvH5l9oRBM4hRh5yKU6bC1u4&export=download" alt="1"></div>
        <div class="vertical"><img src="https://drive.google.com/uc?id=1A6en_SuJHKuTNEpuTF-7fyC15n8nr0V8&export=download" alt="2"></div>
        <div class="horizontal"><img src="https://drive.google.com/uc?id=19KrVFt_727aoj0wEKgMEySUBZTmVKvjT&export=download" alt="3"></div>
        <div class="big"><img src="https://drive.google.com/uc?id=1D9QcwscOO9bWA1rK6abUouYaoMWe1F5r&export=download" alt="4"></div>
        <div class="vertical"><img src="https://drive.google.com/uc?id=1IkM9ERFBFOBmKDdKm_TD00nPEDg7BFz6&export=download" alt="frontdunk"></div>
        <div><img src="https://drive.google.com/uc?id=1Lj9Z8Q6ZeGuJlEYBoKWpJ6W2X08_j_Vp&export=download" alt="6"></div>
        <div class="vertical"><img src="" alt="7"></div>
        <div><img src="https://drive.google.com/uc?id=19oZFJ6-uEIGBE1oWyv3lIVxh6LK8nzql&export=download" alt="8"></div>
        <div><img src="https://drive.google.com/uc?id=1dD0TNNfVSvH5l9oRBM4hRh5yKU6bC1u4&export=download" alt="8.1"></div>
        <div><img src="https://drive.google.com/uc?id=18k54vj7WbpMyyEZZ6XofLFCYFnJ6EPh7&export=download" alt="9"></div>
        <div class="big"><img src="https://drive.google.com/uc?id=1Soe1iM9yxHfcH44zrywVz6GRWwkWOBvQ&export=download" alt="10"></div>
        <div><img src="" alt="11"></div>
        <div class="horizontal"><img src="https://drive.google.com/uc?id=1xDSdFgK4nYYjrH1rx6_KeEVnxGt7jvtP&export=download" alt="12"></div>
        {% comment %} <div><img src="" alt="12.1"></div> {% endcomment %}
        <div class="horizontal"><img src="" alt="13"></div>
      </div>
    </div>    
  
{% endblock %}



