{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Mascot Portfolio" %}</title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        
        {% block content %}


  <br><br><br><br><br><br><br><br>
  <div class = "container">
    <div class="row justify-content-center">
      <div style="position: relative; width: 100%; max-width: 800px; margin: 0 auto; overflow: hidden;">
        <iframe width="auto" height="600" src="https://www.youtube.com/embed/_WKPwWetNuk" title="Cosmo Highlight Reel" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div> 
    </div>
  </div>
  <br><br>
  <div class="container1" id="FullCard1">
    <div class="row">
      <div class="col-md-4 col-sm-4" style="display: flex; align-items: center; justify-content: center; height:100vh;">
        <div class="containerExp">
          <div class="cardExp" onclick="performAction(this)">
            <h2>Cosmo the Cougar</h2>
            <br>
            <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
              <img src="https://i.imgur.com/R2dOso1.jpg" alt="Image Description" style="width: 250%; height: 125%; transform: translate(-35%,-15%);">
            </div>
            <br>
            <div class="titleExp titleExp--epicExp">Collegiate</div>
            <br>
            <div class="container"> 
              <div class="row">
                <div class="col-md-3 col-sm-3"> 
                </div>
                <div class="col-md-6 col-sm-6"> 
                  <h3>2</h3>
                </div>
                <div class="col-md-3 col-sm-3"> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-3"> 
                </div>
                <div class="col-md-6 col-sm-6"> 
                  <h3>Years</h3>
                </div>
                <div class="col-md-3 col-sm-3"> 
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="body2" style="height:100vh;">
          <div class="container3">
            <div class="vertical"><img src="https://i.imgur.com/xAVsWq9.jpg" alt="BBQ"></div>
            <div class="horizontal"><img src="https://i.imgur.com/HIavNn5.jpg" alt="president"></div>
            <div class="big"><img src="https://i.imgur.com/aE5Lckh.jpg" alt="golf"></div>
            <div class="vertical"><img src="https://i.imgur.com/jk6BnPh.jpg" alt="Baseball"></div>
            <div><img src="https://i.imgur.com/WvH8PMp.jpg" alt="Business"></div>
            <div><img src="https://i.imgur.com/HfRlAed.jpg" alt="Smoky Y Clap"></div>
            <div class="big"><img src="https://i.imgur.com/cp6VG7D.jpg" alt="y clap"></div>
            <div><img src="https://i.imgur.com/lUXIYEV.jpg" alt="pilot"></div>
            <div class="horizontal"><img src="https://i.imgur.com/flIh9vS.jpg" alt="squad"></div>
            <div><img src="https://i.imgur.com/hBpQjcD.jpg" alt="walkin"></div>
          </div>
        </div>
      </div>    
    </div>
  </div>
  <div class="container1" id="FullCard2">
    <div class="row">
      <div class="col-md-4 col-sm-4" style="display: flex; align-items: center; justify-content: center; height:100vh;">
        <div class="cardExp" onclick="performAction(this)">
          <h2>Go the Gorilla</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://i.imgur.com/WvbASY1.jpg" alt="Go Walkin" style="width: auto; height: 125%; transform: translate(-30%,-20%);">
          </div>
          <br>
          <div class="titleExp titleExp--epicExp">Contracted</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-md-3 col-sm-3"> 
              </div>
              <div class="col-md-6 col-sm-6"> 
                <h3>1</h3>
              </div>
              <div class="col-md-3 col-sm-3"> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3"> 
              </div>
              <div class="col-md-6 col-sm-6"> 
                <h3>Year</h3>
              </div>
              <div class="col-md-3 col-sm-3"> 
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="body2" style="height:100vh;">
          <div class="container3" style="grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); grid-auto-rows: 12vw; grid-gap: 1vw;">
            <div class="horizontal"><img src="https://i.imgur.com/I2ZvXng.jpg" alt="huddle"></div>
            <div class="vertical"><img src="https://i.imgur.com/oejLue2.jpg" alt="firework"></div>
            <div class="big"><img src="https://i.imgur.com/dS9qql5.jpg" alt="block"></div>
            <div><img src="https://i.imgur.com/Spo5KOs.jpg" alt="bouttafight"></div>
            <div><img src="https://i.imgur.com/8w1Xwad.jpg" alt="wheregoing"></div>
            <div class="horizontal"><img src="https://i.imgur.com/wmwuabN.jpg" alt="big run"></div>
            <div class="horizontal"><img src="https://i.imgur.com/axCpDhs.jpg" alt="tackle"></div>
          </div>
        </div>
      </div>    
    </div>
  </div> 
  <div class="container1" id="FullCard3">
    <div class="row">
      <div class="col-md-4 col-sm-4" style="display: flex; align-items: center; justify-content: center; height:100vh;">
        <div class="cardExp" onclick="performAction(this)">
          <h2>Crusher the Kadet</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://i.imgur.com/ntsuUx5.jpg" alt="AAHS Mascot" style="width: auto; height: 125%; transform: translate(0%,0%);">
          </div>
          <br>
          <div class="titleExp titleExp--commonExp">High School</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-md-3 col-sm-3"> 
              </div>
              <div class="col-md-6 col-sm-6"> 
                <h3>3</h3>
              </div>
              <div class="col-md-3 col-sm-3"> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3"> 
              </div>
              <div class="col-md-6 col-sm-6"> 
                <h3>Years</h3>
              </div>
              <div class="col-md-3 col-sm-3"> 
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="body2" style="height:100vh;">
          <div class="container3" style="grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); grid-auto-rows: 12vw; grid-gap: 1vw;">
            <div class="horizontal"><img src="https://i.imgur.com/Zw4gfyk.jpg" alt="Hdance"></div>
            <div class="vertical"><img src="https://i.imgur.com/1f3mN7K.jpg" alt="Vhallway"></div>
            <div class="big"><img src="https://i.imgur.com/PuABzFG.jpg" alt="SQmiddle"></div>
            <div><img src="https://i.imgur.com/rgqBN9N.jpg" alt="Hmiddle3"></div>
            <div class="vertical"><img src="https://i.imgur.com/90vnnRt.jpg" alt="Vprincipal"></div>
            <div><img src="https://i.imgur.com/aGhElyS.jpg" alt="Vfootball"></div>
            <div class="horizontal"><img src="https://i.imgur.com/uuDsCNe.jpg" alt="Helementary"></div>
            <div class="horizontal"><img src="https://i.imgur.com/2kHu7Gk.jpg" alt="Hfootball"></div>
            <div class="vertical"><img src="https://i.imgur.com/m8VpniW.jpg" alt="Vbasketball"></div>
            <div><img src="https://i.imgur.com/Wuprrpx.jpg" alt="Hmiddle"></div>
            <div><img src="https://i.imgur.com/ISVi7De.jpg" alt="Hnews"></div>
            
            
            
            
            
            
            
          </div>
        </div>
      </div>    
    </div>
  </div>  
  <div class="container1" id="FullCard4">
    <div class="row">
      <div class="col-md-4 col-sm-4" style="display: flex; align-items: center; justify-content: center; height:100vh;">
        <div class="cardExp" onclick="performAction(this)">
          <h2>Stripes</h2>
          <br>
          <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
            <img src="https://i.imgur.com/x6NFyEU.jpg" alt="TRMAI Stripes" style="width: auto; height: 125%; transform: translate(0%,0%);">
          </div>
          <br>
          <div class="titleExp titleExp--commonExp">Contracted</div>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-md-3 col-sm-3"> 
              </div>
              <div class="col-md-6 col-sm-6"> 
                <h3>1</h3>
              </div>
              <div class="col-md-3 col-sm-3"> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3"> 
              </div>
              <div class="col-md-6 col-sm-6"> 
                <h3>Year</h3>
              </div>
              <div class="col-md-3 col-sm-3"> 
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="body2" style="height:100vh;">
          <div class="container3" style="grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); grid-auto-rows: 12vw; grid-gap: 1vw;">
            <div class="horizontal"><img src="" alt="1"></div>
            <div class="vertical"><img src="" alt="2"></div>
            <div class="big"><img src="" alt="3"></div>
            <div><img src="" alt="4"></div>
            <div><img src="" alt="5"></div>
            <div class="horizontal"><img src="" alt="6"></div>
            <div class="horizontal"><img src="" alt="7"></div>
          </div>
        </div>
      </div>    
    </div>
  </div>  
  <br><br><br>
  <div class="row justify-content-center">
    <div class="containerExp">
      <div class="cardExp" onclick="changeFullCard('FullCard3')" id="MiniCard3">
        <h2>Crusher the Kadet</h2>
        <br>
        <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
          <img src="https://i.imgur.com/ntsuUx5.jpg" alt="AAHS Mascot" style="width: auto; height: 125%; transform: translate(0%,0%);">
        </div>
        <br>
        <div class="titleExp titleExp--commonExp">High School</div>
        <br>
        <div class="container"> 
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>3</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>Years</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="cardExp" onclick="changeFullCard('FullCard4')" id="MiniCard4">
        <h2>Stripes</h2>
        <br>
        <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
          <img src="https://i.imgur.com/x6NFyEU.jpg" alt="TRMAI Stripes" style="width: auto; height: 125%; transform: translate(0%,0%);">
        </div>
        <br>
        <div class="titleExp titleExp--commonExp">Contracted</div>
        <br>
        <div class="container"> 
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>1</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>Year</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="cardExp" onclick="changeFullCard('FullCard1')" id="MiniCard1">
        <h2>Cosmo the Cougar</h2>
        <br>
        <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
          <img src="https://i.imgur.com/R2dOso1.jpg" alt="Image Description" style="width: 200%; height: 125%; transform: translate(-30%,-15%);">
        </div>
        <br>
        <div class="titleExp titleExp--epicExp">Collegiate</div>
        <br>
        <div class="container"> 
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>2</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>Years</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="cardExp" onclick="changeFullCard('FullCard2')" id="MiniCard2">
        <h2>Go the Gorilla</h2>
        <br>
        <div class="icon" style="width: 20vw; height: 50vh; overflow: hidden;">
          <img src="https://i.imgur.com/WvbASY1.jpg" alt="Go Walkin" style="width: auto; height: 125%; transform: translate(-15%,-20%);">
        </div>
        <br>
        <div class="titleExp titleExp--epicExp">Contracted</div>
        <br>
        <div class="container"> 
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>1</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3"> 
            </div>
            <div class="col-md-6 col-sm-6"> 
              <h3>Year</h3>
            </div>
            <div class="col-md-3 col-sm-3"> 
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>      
  </div>
    <br><br><br><br>

    <script>
      var highlightedImage = null; // To store the currently highlighted image
    
      function changeFullCard(fullCardId) {
        // Hide all FullCard divs
        var fullCardDivs = document.querySelectorAll('[id^="FullCard"]');
        for (var i = 0; i < fullCardDivs.length; i++) {
          fullCardDivs[i].style.display = 'none';
        }
    
        // Show the selected FullCard
        var selectedFullCard = document.getElementById(fullCardId);
        selectedFullCard.style.display = 'block';
    
      }
    
      // Automatically show FullCard1 when the page loads
      document.addEventListener('DOMContentLoaded', function() {
        changeFullCard('FullCard1');
      });
    </script>
    
    
    {% comment %} <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="body2" style="height:50vh;">
      <div class="container3">
        <div class="horizontal"><img src="" alt="squad"></div>
        <div class="vertical"><img src="https://drive.google.com/uc?id=1UsgrRMyrdDp_fqf7lkrW6ukYgmGoeyzU&export=download" alt="BBQ"></div>
        <div class="horizontal"><img src="https://drive.google.com/uc?id=1YDYSY3K_Gt--zwQnJTw4UBrQqfNxJQVQ&export=download" alt="president"></div>
        <div class="big"><img src="https://drive.google.com/uc?id=1FCcC6vSeqLQ_hFZ6zzN5iRXaXvuM2U1m&export=download" alt="golf"></div>
        <div class="vertical"><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div class="vertical"><img src="https://drive.google.com/uc?id=1v3mUxEjGv7azCYBPuRAJ33VQe3GW2TYC&export=download" alt="Baseball"></div>
        <div><img src="https://drive.google.com/uc?id=1waey-O6KEoZrvPPHWa9REajcrnY3UJVS&export=download" alt="Business"></div>
        <div><img src="" alt="12"></div>
        <div><img src="https://drive.google.com/uc?id=1RYnz0gms2jFK6nYQXv1jEeE5W_ldq7XS&export=download" alt="Smoky Y Clap"></div>
        <div class="big"><img src="https://drive.google.com/uc?id=1ZCB_Doko6gO2c6XchSFNsqvZZMiicThT&export=download" alt="y clap"></div>
        <div><img src="https://drive.google.com/uc?id=1UUO-aYt_LoM7PLE535WzSdWEv3stOC0G&export=download" alt="pilot"></div>
        <div class="horizontal"><img src="" alt="16"></div>
        <div class="horizontal"><img src="https://drive.google.com/uc?id=1FgJ30dMtCJnGh2DUbUHp_QJXN1L0-viR&export=download" alt="squad"></div>
        <div><img src="https://drive.google.com/uc?id=1pU0LBylrxJzcER5wLAG294DUUVcOZlbV&export=download" alt="walkin"></div>
      </div>
    </div>        
   {% endcomment %}
{% endblock %}



