{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Acrobatic Dunker" %}</title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        
        {% block content %}


  <br><br>
    <div class="row justify-content-center">
      <div class='tableauPlaceholder' id='viz1693332771920' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt='Dashboard 1' src='https://public.tableau.com/static/images/Du/DunkDashboard/Dashboard1/1_rss.png' style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='DunkDashboard/Dashboard1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https://public.tableau.com/static/images/Du/DunkDashboard/Dashboard1/1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1693332771920');
        var vizElement = divElement.getElementsByTagName('object')[0];
        {% comment %} if (divElement.offsetWidth > 800) {
          vizElement.style.width='1000px';
          vizElement.style.height='1727px';
        } else if (divElement.offsetWidth > 500) {
          vizElement.style.width='1000px';
          vizElement.style.height='1727px';
        } else {
          vizElement.style.width='100%';
          vizElement.style.height='2577px';
        } {% endcomment %}
        vizElement.style.height='50vh';
        vizElement.style.width='50vw';
        vizElement.style.margin = '0 auto';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTYc7ocfqtWJaM1tQLmpm5XPszJDTLm1jM53EtrmfJOVXO2yuFIrUXLJ4QtV2M5y0tT5XcQbhbg5KRZ/embed?start=true&loop=false&delayms=2000" frameborder="0" width="100%" height="500vh" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="col-sm-5">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSaEerNnKkqh9icnlsVVnXWLA55RjfG46vTI78H7YTvXwVpBocKfmCjxQ6bv6k1_q4Ix4cAojhBQEQq/embed?start=false&loop=false&delayms=2000" frameborder="0" width="100%" height="500vh" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>

    
  
{% endblock %}



