{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Acrobatic Dunker" %}</title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        
{% block content %}
    <div class="row">
        <div class="col-sm-4">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTYc7ocfqtWJaM1tQLmpm5XPszJDTLm1jM53EtrmfJOVXO2yuFIrUXLJ4QtV2M5y0tT5XcQbhbg5KRZ/embed?start=true&loop=false&delayms=2000" frameborder="0" width="150%" height="125%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <div class="col-sm-4">
        <!-- Add content or adjust column width as needed -->
        </div>
        <div class="col-sm-4">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSaEerNnKkqh9icnlsVVnXWLA55RjfG46vTI78H7YTvXwVpBocKfmCjxQ6bv6k1_q4Ix4cAojhBQEQq/embed?start=false&loop=false&delayms=2000" frameborder="0" width="100%" height="100%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </div>
{% endblock %}



