{% extends 'base.html'%}
        {% block title %}
          <link rel="icon" href="https://raw.githubusercontent.com/ec134866/SunriseDrones/refs/heads/master/static/public/balancedrock.ico" type="image/x-icon">  
          <title> {{owner_name}} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block body %}

        <div style="display: flex; justify-content: center;">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdY6JQs5ANjBeQO0C8VNv4hwovNWziDJJoQ_wwmx3QI1WooRw/viewform?embedded=true" 
                    width="640" height="1010" frameborder="0" marginheight="0" marginwidth="0">
                Loading…
            </iframe>
        </div>
        

        {% endblock %}
