{% extends 'base.html'%}
        {% block title %}
          <title> Evan Carter </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block body %}

        <header class="masthead d-flex align-items-center">
          <div class="container px-4 px-lg-5 text-center">
              <h1 class="mb-1">Sunrise Drones</h1>
              {% comment %} HERE fix this one liner {% endcomment %}
              <h3 class="mb-5"><em>See Your Property From Another Angle</em></h3>
              <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
          </div>
        </header>
      <!-- About-->
      <section class="content-section2 bg-light" id="about">
          <div class="container px-4 px-lg-5 text-center">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-lg-10">
                      <h2>Providing you with direct access to your footage and 3D models!</h2>
                      <p class="lead mb-5">
                        {% comment %} HERE fix this one liner {% endcomment %}
                          Our unique 3-stop shop allows you to see your property however you wish
                      </p>
                      <a class="btn btn-dark btn-xl" href="#services">What's the 3-stop shop?</a>
                  </div>
              </div>
          </div>
      </section>
      <!-- Services-->
      <section class="content-section2 bg-primary text-white text-center" id="services">
        {% comment %} HERE change icons {% endcomment %}
          <div class="container px-4 px-lg-5">
              <div class="content-section2-heading">
                  <h3 class="text-secondary mb-0">Services</h3>
                  <h2 class="mb-5">What We Offer</h2>
              </div>
              <div class="row gx-4 gx-lg-5">
                  <div class="col-lg-4 col-md-4 mb-5 mb-lg-0">
                      <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                      <h4><strong>3D Exterior Model</strong></h4>
                      <p class="text-faded mb-0">Fully interactive 3D model</p>
                  </div>
                  <div class="col-lg-4 col-md-4 mb-5 mb-lg-0">
                      <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                      <h4><strong>Drone Overflight</strong></h4>
                      {% comment %} HERE fix one liner {% endcomment %}
                      <p class="text-faded mb-0">Fly over</p>
                  </div>
                  <div class="col-lg-4 col-md-4 mb-5 mb-lg-0">
                      <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                      <h4><strong>3D Interior Model</strong></h4>
                      <p class="text-faded mb-0">Walk-through of your property</p>
                  </div>
              </div>
          </div>
      </section>
      <!-- Callout-->
      <section class="callout">
          <div class="container px-4 px-lg-5 text-center">
              <h2 class="mx-auto mb-5">
                  Interact with or
                  <em>download</em>
                  your media today!
              </h2>
              {% comment %} HERE fix link to contact info {% endcomment %}
              <a class="btn btn-primary btn-xl" href="">Download Now!</a>
          </div>
      </section>
      <!-- Portfolio-->
      <section class="content-section2" id="portfolio">
          <div class="container px-4 px-lg-5">
              <div class="content-section2-heading text-center">
                  <h3 class="text-secondary mb-0">Portfolio</h3>
                  <h2 class="mb-5">Recent Projects</h2>
              </div>
              <div class="row gx-0">
                  <div class="col-lg-6">
                      <a class="portfolio-item" href="#!">
                          <div class="caption">
                              <div class="caption-content">
                                  <div class="h2">Project 1</div>
                                  <p class="mb-0">Description 1</p>
                              </div>
                          </div>
                          <img class="img-fluid" src="" alt="..." />
                      </a>
                  </div>
                  <div class="col-lg-6">
                      <a class="portfolio-item" href="#!">
                          <div class="caption">
                              <div class="caption-content">
                                  <div class="h2">Project 2</div>
                                  <p class="mb-0">Description 2</p>
                              </div>
                          </div>
                          <img class="img-fluid" src="" alt="..." />
                      </a>
                  </div>
                  <div class="col-lg-6">
                      <a class="portfolio-item" href="#!">
                          <div class="caption">
                              <div class="caption-content">
                                  <div class="h2">Project 3</div>
                                  <p class="mb-0">Description 3</p>
                              </div>
                          </div>
                          <img class="img-fluid" src="" alt="..." />
                      </a>
                  </div>
                  <div class="col-lg-6">
                      <a class="portfolio-item" href="#!">
                          <div class="caption">
                              <div class="caption-content">
                                  <div class="h2">Project 4</div>
                                  <p class="mb-0">Description 4</p>
                              </div>
                          </div>
                          <img class="img-fluid" src="" alt="..." />
                      </a>
                  </div>
              </div>
          </div>
      </section>
      <!-- Call to Action-->
      <section class="content-section2 bg-primary text-white">
          <div class="container px-4 px-lg-5 text-center">
              <h2 class="mb-4">The buttons below are impossible to resist...</h2>
              <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
              <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a>
          </div>
      </section>
      <!-- Footer-->
      <footer class="footer text-center">
          <div class="container px-4 px-lg-5">
              <ul class="list-inline mb-5">
                {% comment %} HERE need to add link to phone and email {% endcomment %}
                  <li class="list-inline-item">
                      <a class="social-link rounded-circle text-white mr-3" href="#"><i class="bi bi-envelope"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a class="social-link rounded-circle text-white mr-3" href="#"><i class="bi bi-telephone"></i></a>
                  </li>
                  {% comment %} <li class="list-inline-item">
                      <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                  </li> {% endcomment %}
              </ul>
              {% comment %} <p class="text-muted small mb-0">Copyright &copy; SunriseDrones 2024</p> {% endcomment %}
          </div>
      </footer>
  
        {% endblock %}


