{% extends 'base.html'%}
{% block title %}
  <title> Create a Share Link </title>
{% endblock %}
        
{% block search %}
{% endblock %}
        
{% block body %}
<div>
    <h1>Management Dashboard</h1>

    <h2>Persons</h2>
    <form method="POST">
        {% csrf_token %}
        {{ person_form.as_p }}
        <button type="submit" name="add_person">Add Person</button>
    </form>
    
    {% if uuid_created %}
        <p>New person can access:</p> 
        <p id="share-link">https://sunrisedrones.pythonanywhere.com/{{ uuid_created }}</p>
        <button onclick="copyToClipboard()"> 
            <i class="fa-solid fa-copy"></i> Copy
        </button>
    {% endif %}


    <br><br><br><br>

    <h3>Existing Persons</h3>
    {% for person in persons %}
    <div>
        <h4>{{ person.name }}</h4>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="person_id" value="{{ person.uuid }}">
            {{ person_form.as_p }} 
            <button type="submit" name="edit_person">Edit Person</button>
        </form>
        <p>Phone: {{ person.phone_number }}</p> 
        <p>Email: {{ person.email }}</p> 
    </div>
    {% endfor %}
</div>
{% endblock %}