{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Orçamento" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}
      <br><br><br><br>
      <h2 style="font-size:3vw">{% trans "Other Interests" %}</h2>
      <br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <h2> {% trans "Budgeting" %} </h2>
          </div>
          <div class="col-sm-4">
          </div>
        </div>
      
        {% endblock %}


