{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> Overflight </title>
          {% comment %} add [] variable of property name {% endcomment %}
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}
        <div class="container justify-content-center">
            <div class="row justify-content-center align-items-center">
              <div class="col-sm-4 col-12">
                  <embed
                        src="https://i.imgur.com/t1Tvutd.mp4"
                        wmode="transparent"
                        type="video/mp4"
                        width="580" height="350"
                        allow="autoplay; encrypted-media; picture-in-picture"
                        allowfullscreen
                        title="Sunrise Property"
                      >
              </div>
            </div>    
          </div>  


        {% endblock %}
