{% extends 'base.html'%}
        {% block title %}
          <title> {{owner.name}} View </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block body %}
        <ul>
          <div class="container mt-4">
            <div class="row">
              {% for property in property %}
                <div class="col-md-4 mb-3">
                  {% comment %} <a href="{% url 'property' person.uuid / {{property.name}}%}">Properties
                    <img src={{property.latest_flight.top_image_link_1}} style="width:24vw; height:24vh; border-radius:2vw;" alt="{{property.name}}" class="img-fluid">
                  </a>
                  <br><br><br> {% endcomment %}
                  <h2>{{property.name}}</h2>
                </div>
                {% endfor%} 
            </div>
        </div>
          
        </ul>
        {% endblock %}
