{% extends 'base.html'%}
        {% block title %}
          <title> {{owner_name}} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block body %}
        <header class="d-flex align-items-center" style="padding-top: 3vh; padding-bottom: 3vh; background-color: rgba{{owner_palette1}} !important;">
          <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1" style="font-size: 5.5rem;">{{owner_name}}</h1>
          </div>
        </header>
        <div>
          <div style="padding-left: 2vw; padding-right: 2vw; padding-top: 2vh; padding-bottom: 20vh;">
            {% for owner in owner %}
            <div class="row">
              {% for property in properties %}
                <h1>{{ owner.name }}</h1>
                <div class="col-md-4 mb-3 d-flex justify-content-center">
                  <a href="{% url 'property' person.uuid property.name %}" class="text-decoration-none">
                    <div class="d-flex justify-content-center">
                      {% if property.latest_flight %}
                        <img src="{{ property.latest_flight.top_image_link_1 }}" class="img-fluid" style="width:24vw; height:auto; border-radius:2vw;" alt="{{ property.name }}">
                      {% else %}
                        <img src="default_image_url" class="img-fluid" style="width:34vw; height:24vh; border-radius:2vw;" alt="{{ property.name }}">
                      {% endif %}
                    </div>
                    <br>
                    <div class="text-center">
                      <h2>{{ property.name }}</h2>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        <footer class="footer text-center bg-light" style="margin-top: auto;">
          <div class="container px-4 px-lg-5">
            <p class="text-muted small mb-0">These are not official surveys. No models should be relied upon for safety. All models should be used strictly for planning and estimate purposes.</p>
              {% comment %} <p class="text-muted small mb-0">Copyright &copy; SunriseDrones 2024</p> {% endcomment %}
          </div>
      </footer>

        {% endblock %}
