{% extends 'base.html'%}
        {% block title %}
          <title> {{property.name}} Property </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block body %}
        
        <header class="d-flex align-items-center" style="padding-top: 2vh; padding-bottom: 2vh; background-color: rgba{{owner.palette1}}">
          <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1" style="font-size: 4vw;">{{owner_name}} Properties</h1>
            <h2 class="mb-1" style="font-size: 2vw;">{{property.name}}</h2>
          </div>
        </header>
        
        <div style="padding-top: 2vh; padding-bottom: 2vh">
          {% comment %} dropdown section {% endcomment %}
          <div class="row" style="align-items:center;">
            <div class="col-auto" style="padding-left: 2vw; padding-right: 1vw; align-content: center;">
              <div class="dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if selected_flight %}
                    {{ selected_flight.date}}
                  {% else %}
                    Select a date
                  {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for flight in flights %}
                    <li>
                      <a class="dropdown-item" href="?date={{ flight.date|date:'Y-m-d' }}">
                        {{ flight.date}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% comment %} buttons {% endcomment %}
            <div class="col-auto" style="align-items:center; align-content:center; ">
                <div class="row">
                    <button id="contractTrackerBtn" class="btn btn-light" type="button" data-bs-target="#contractTracker" onclick="toggleSection(this)" style="margin-bottom: 0.5vh">Contract Tracker</button>
                </div>
                <div class="row">
                    <button id="downloadSectionBtn" class="btn btn-light" type="button" data-bs-target="#downloadSection" onclick="toggleSection(this)" style="margin-top: 0.5vh">Download My Files</button>
                </div>
            </div>
            {% comment %} filters {% endcomment %}
              <div class="col-auto" id="filterIcons" style="display:none;">
                <!-- Centered Filter Text -->
                <div class="row text-center" style="padding-top:.5vh;">
                  <div class="col-12">
                    <span style="font-size: 1vh;">Filter:</span>
                  </div>
                </div>
              
                <!-- Image Filter -->
                <div class="row justify-content-center" style="padding-bottom:.5vh;">
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <i class="fa-regular fa-image" onclick="filterFiles('Image')" style="height:2vh; cursor: pointer;"></i>
                    <i class="fa-regular fa-square" onclick="filterFiles('Image')" id="image-icon" style="height:1.5vh; cursor: pointer; margin-left: 0.5vh;"></i>
                  </div>
                </div>
              
                <!-- Video Filter -->
                <div class="row justify-content-center" style="padding-bottom:.5vh;">
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-clapperboard" onclick="filterFiles('Video')" style="height:2vh; cursor: pointer;"></i>
                    <i class="fa-regular fa-square" onclick="filterFiles('Video')" id="video-icon" style="height:1.5vh; cursor: pointer; margin-left: 0.5vh;"></i>
                  </div>
                </div>
              
                <!-- 3D Model Filter -->
                <div class="row justify-content-center" style="padding-bottom:.5vh;">
                  <div class="col-auto d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-cube" onclick="filterFiles('3D Model')" style="height:2vh; cursor: pointer;"></i>
                    <i class="fa-regular fa-square" onclick="filterFiles('3D Model')" id="model-icon" style="height:1.5vh; cursor: pointer; margin-left: 0.5vh;"></i>
                  </div>
                </div>
              </div>      
            {% comment %} tracker or downloads {% endcomment %}
            <div class="col-sm-12 col-md-8" style=" padding-right: 3vh; padding-left: 3vh;">
              <div class="collapse" id="contractTracker">
                <div class="track d-flex">
                    <div class="step"> 
                      <span class="icon"> <i class="fa fa-file-signature"></i> </span> 
                      <span class="text">Contract Signed</span> 
                      <span class="text" style="margin-top: -2px;"> {{selected_flight.contractSigned}}</span> 
                    </div>
                    <div class="step"> 
                      <span class="icon"> <i class="fa fa-helicopter"></i> </span> 
                      <span class="text"> Drone Capture </span> 
                      <span class="text" style="margin-top: -2px;"> {{selected_flight.contractFlightDate}}</span> 
                    </div>
                    <div class="step"> 
                      <span class="icon"> <i class="fa fa-image"></i> </span> 
                      <span class="text"> Image Processing </span> 
                      <span class="text" style="margin-top: -2px;"> {{selected_flight.contractProcessingDate}}</span> 
                    </div>
                    <div class="step"> 
                      <span class="icon"> <i class="fa fa-tasks"></i> </span> 
                      <span class="text">Final Preparations</span> 
                      <span class="text" style="margin-top: -2px;"> {{selected_flight.contractFinalTouches}}</span> 
                    </div>
                    <div class="step"> 
                      <span class="icon"> <i class="fa fa-upload"></i> </span> 
                      <span class="text">Published</span> 
                      <span class="text" style="margin-top: -2px;"> {{selected_flight.contractPublishDate}}</span> 
                    </div>
                </div>
              </div>
              <div class="collapse" id="downloadSection">
                <div class="row overflow-scroll" style="max-height:17vh; background-color: lightgray;" id="fileContainer">
                  {% for file in files %}
                    <div class="col-auto file" data-file-type="{{ file.file_type }}" style="width: auto; height: 80%; border-radius: 1vh; background-color: #f0f0f0; margin: .25vh; padding: .25vh; display: flex; flex-direction: column; align-items: center;">
                      <img src="{{ file.thumbnail }}" alt="{{ file.name }}" style="border-radius: 1vh; max-height: 14vh;">
                      <div class="row" style="font-size: 1.25vh; width: 100%; justify-content: space-between;">
                        <div class="col" style="display: flex; align-items: center;">
                            <div>{{ file.name }}</div>
                        </div>
                        <div class="col-auto" style="display: flex; align-items: center; justify-content: flex-end;">
                            <div>{{ file.size_in_mb }} MB</div>
                            <a href="{{ file.direct_download_link }}" target="_blank" style="margin-left: 0.5vh;">
                              <span class="icon">
                                  <i class="fa-solid fa-download"></i>
                              </span>
                            </a>
                        </div>
                      </div>
                    </div>
                  {% empty %}
                    <div>No files available.</div>
                  {% endfor %}
                </div>
              </div>     
            </div>
          </div>
          
          {% comment %} main section {% endcomment %}
          <div class="row" style="padding-left: 2vw; padding-right: 2vw; padding-top: 4vh; padding-bottom: 2vh;">
              <div class="col-md-4 mb-3 d-flex justify-content-center">
                <button class="btn btn-link p-0" onclick="showContent('overflightContent')">
                    <img src={{selected_flight.overflight_thumbnail_link}} style="width:34vw; height:auto; border-radius:2vw;" alt="Drone Flyover" class="img-fluid">
                    <br><br>
                    <h2 class="text-decoration-none" style="color: #333;">Overflight</h2>
                </button>
              </div>
              <div class="col-md-4 mb-3 d-flex justify-content-center">
                <button class="btn btn-link p-0" onclick="showContent('exteriorModelContent')">
                    <img src={{selected_flight.exterior_thumbnail_link}} style="width:34vw; height:auto; border-radius:2vw;" alt="Drone Flyover" class="img-fluid">
                    <br><br>
                    <h2 class="text-decoration-none" style="color: #333;">3D Exterior Model</h2>
                </button>
              </div>
              <div class="col-md-4 mb-3 d-flex justify-content-center">
                <button class="btn btn-link p-0" onclick="showContent('interiorModelContent')">
                    <img src={{selected_flight.interior_thumbnail_link}} style="width:34vw; height:auto; border-radius:2vw;" alt="Drone Flyover" class="img-fluid">
                    <br><br>
                    <h2 class="text-decoration-none" style="color: #333;">3D Interior Model</h2>
                </button>
              </div>
          </div>
        </div>

        {% comment %} content area {% endcomment %}
        <div id="contentArea" class="container-fluid" style="padding-top: 6vh; padding-bottom: 6vh; background-color: rgba{{owner.palette2}}">
          <div class="d-flex justify-content-center">
              <div id="overflightContent" class="content-section" style="width: 90%; height: 75vh;">
                <iframe width="100%" height="100%" id="overflightVideoElement" src="https://www.youtube.com/embed/{{selected_flight.overflight_link}}?autoplay=1&rel=0" frameborder="0">
                </iframe>
              </div>
          </div>
          <div class="d-flex justify-content-center">
              <div id="exteriorModelContent" class="content-section">
                  <div id="exteriorModelContainer" class="d-flex justify-content-center">
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center">
              <div id="interiorModelContent" class="content-section">
                  <div id="interiorModelContainer" class="d-flex justify-content-center">
                  </div>
              </div>
          </div>
        </div>

        {% comment %} footer {% endcomment %}
        <footer class="footer text-center" style="margin-top:auto;padding-top: 4vh;">
            <div class="container px-4 px-lg-5">
                <p class="text-muted small mb-0">These are not official surveys. No models should be relied upon for safety. All models should be used strictly for planning and estimate purposes.</p>
                {% comment %} <p class="text-muted small mb-0">Copyright &copy; SunriseDrones 2024</p> {% endcomment %}
            </div>
        </footer>




        {% comment %} script for contract tracker and download section {% endcomment %}
        <script>
          document.addEventListener('DOMContentLoaded', function () {
              const today = new Date().toISOString().split('T')[0];
              const publishDate = '{{selected_flight.contractPublishDate | date:'Y-m-d' }}'; 
              const contractTracker = document.getElementById('contractTracker');
              const contractTrackerBtn = document.getElementById('contractTrackerBtn');
      
              // Show contract tracker if the publish date is today or in the future
              if (publishDate >= today) {
                  contractTracker.classList.add('show');
                  contractTrackerBtn.classList.replace('btn-light', 'btn-dark');
              }
          });
      
          function toggleSection(button) {
              const isDownloadSection = button.id === 'downloadSectionBtn';
              const targetSection = document.querySelector(button.getAttribute('data-bs-target'));
              const isAlreadyActive = targetSection.classList.contains('show'); // Check if the section is already active
      
              // Reset both sections and button states
              document.getElementById('contractTracker').classList.remove('show');
              document.getElementById('downloadSection').classList.remove('show');
              document.getElementById('contractTrackerBtn').classList.replace('btn-dark', 'btn-light');
              document.getElementById('downloadSectionBtn').classList.replace('btn-dark', 'btn-light');
      
              // If the section was already active, we don't reactivate it (deselect)
              if (!isAlreadyActive) {
                  targetSection.classList.add('show');
                  button.classList.replace('btn-light', 'btn-dark');
              }
      
              // Show filter icons only for the Download section if it's being activated
              document.getElementById("filterIcons").style.display = (isDownloadSection && !isAlreadyActive) ? "block" : "none";
          }
      </script>


        {% comment %} script for filtering files {% endcomment %}
        <script>
          let selectedTypes = []; // Track selected file types
          
          function filterFiles(type) {
            const files = document.querySelectorAll('.file');
            const icons = {
              'Image': document.getElementById('image-icon'),
              'Video': document.getElementById('video-icon'),
              '3D Model': document.getElementById('model-icon')
            };
          
            // Toggle selection of the type
            const typeIndex = selectedTypes.indexOf(type);
            if (typeIndex > -1) {
              // If already selected, remove it
              selectedTypes.splice(typeIndex, 1);
              icons[type].classList.remove('fa-regular', 'fa-square-check');
              icons[type].classList.add('fa-regular', 'fa-square');
            } else {
              // If not selected, add it
              selectedTypes.push(type);
              icons[type].classList.remove('fa-regular', 'fa-square');
              icons[type].classList.add('fa-regular', 'fa-square-check');
            }
          
            // Filter files based on selected types
            files.forEach(file => {
              if (selectedTypes.length === 0 || selectedTypes.includes(file.getAttribute('data-file-type'))) {
                file.style.display = 'flex'; // Show file
              } else {
                file.style.display = 'none'; // Hide file
              }
            });
          }
          </script>


      <script>

          document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('overflightVideoElement').playbackRate = 1.5;
        });

      </script> 

      <script>
        const today = new Date().toISOString().split('T')[0];

        const steps = [
                { element: document.querySelector('.step:nth-child(1)'), date: "{{ selected_flight.contractSigned | date:'Y-m-d' }}" },
                { element: document.querySelector('.step:nth-child(2)'), date: "{{ selected_flight.contractFlightDate | date:'Y-m-d'  }}" },
                { element: document.querySelector('.step:nth-child(3)'), date: "{{ selected_flight.contractProcessingDate | date:'Y-m-d'  }}" },
                { element: document.querySelector('.step:nth-child(4)'), date: "{{ selected_flight.contractFinalTouches | date:'Y-m-d'  }}" },
                { element: document.querySelector('.step:nth-child(5)'), date: "{{ selected_flight.contractPublishDate | date:'Y-m-d'  }}" }
            ];

        steps.forEach(step => {
            if (today >= step.date) {
                step.element.classList.add('active');
            }
        });
      </script>


      <script>


        function showContent(contentId) {
          document.querySelectorAll('.content-section').forEach(section => {
            section.classList.remove('show');
          });
      
          const selectedContent = document.getElementById(contentId);
          selectedContent.classList.add('show');
          
          if (contentId === 'exteriorModelContent' && !exteriorModelLoaded) {
            initExteriorModel();  
            exteriorModelLoaded = true;  
          } else if (contentId === 'interiorModelContent' && !interiorModelLoaded) {
            initInteriorModel();  
            interiorModelLoaded = true;  
          }
          
        }

        let exteriorModelLoaded = false;
        let interiorModelLoaded = false;
      </script>

   

      {% comment %} exterior model {% endcomment %}
      <script type="module">
        import * as THREE from 'three';
        import { Scene, PerspectiveCamera, WebGLRenderer, GridHelper } from 'three'
        import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';
        import { TilesRenderer, DebugTilesPlugin, PriorityQueue } from '3d-tiles-renderer';
        import { CameraRig, FreeMovementControls } from 'three-story-controls';

        let camera, scene, renderer, tilesRenderer, controls, modelGroup;



        window.initExteriorModel = function() {
            const container = document.getElementById('exteriorModelContainer');
            container.innerHTML = ''; 

            camera = new THREE.PerspectiveCamera(45, (window.innerWidth * 0.9) / (window.innerHeight * 0.8), .1, {{ selected_flight.script_exterior.camera_far }});
            camera.position.set({{ selected_flight.script_exterior.camera_position }});
            camera.up = new THREE.Vector3({{ selected_flight.script_exterior.camera_axis }});

            scene = new THREE.Scene();
            let light = new THREE.AmbientLight(0x404040, 80);
            scene.add(light);

            // const loader = new FBXLoader();
            // loader.load('{{ selected_flight.exterior_link|safe }}', (object) => {
               //  scene.add(object);
            // });

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            container.appendChild(renderer.domElement);

            controls = new OrbitControls(camera, renderer.domElement);
            controls.listenToKeyEvents( window );
            const distance = camera.position.distanceTo(controls.target)
            controls.keyPanSpeed = Math.max(1000 * (500 / distance));
            controls.zoomSpeed = 10;
            controls.zoomToCursor = true;
            controls.enablePan = true;
            controls.minDistance = 0;
            controls.maxDistance = {{selected_flight.script_exterior.max_camera_zoom}};
            controls.minPolarAngle = 0.25;
            controls.maxPolarAngle = 1.8;
            controls.autoRotate = false;
            // controls.target = new THREE.Vector3(0, 1, 0);

            modelGroup = new THREE.Group();
            scene.add(modelGroup);
            
            
            const debugPlugin = new DebugTilesPlugin();

            tilesRenderer = new TilesRenderer('{{ selected_flight.exterior_link}}');
            tilesRenderer.registerPlugin(debugPlugin);
            tilesRenderer.errorTarget = 4;
            tilesRenderer.errorThreshold = Infinity;
            tilesRenderer.maxDepth = Infinity;
            tilesRenderer.autoDisableRendererCulling = true;
            tilesRenderer.displayActiveTiles = true;



            // Set debugging options (optional)
            // debugPlugin.colorMode = 'DISTANCE'; 
            // debugPlugin.displayBoxBounds = true;   
            // debugPlugin.displayRegionBounds = true;
            // debugPlugin.maxDebugDepth = - 1;
            // debugPlugin.maxDebugError = - 1;
            // debugPlugin.maxDebugDistance = - 1;

        

            tilesRenderer.addEventListener('load-tile-set', () => {
              const sphere = new THREE.Sphere();
              tilesRenderer.getBoundingSphere(sphere);
              tilesRenderer.group.position.copy(sphere.center).multiplyScalar(-1);

              modelGroup.position.set({{selected_flight.script_exterior.model_position}});
              modelGroup.rotation.x = THREE.MathUtils.degToRad({{selected_flight.script_exterior.model_rotation_x}});
              modelGroup.rotation.z = THREE.MathUtils.degToRad({{selected_flight.script_exterior.model_rotation_y}});
              modelGroup.rotation.y = THREE.MathUtils.degToRad({{selected_flight.script_exterior.model_rotation_z}});
          });
  
             // -- freewalk
            // const rig = new CameraRig(camera, scene)
            // controls = new FreeMovementControls(rig, {
            //     domElement: container,
            //     pointerScaleFactor: 15,
            // })
            // controls.enable()

            // -- helpful grid
            // const grid = new GridHelper(750, 20)
            // scene.add(grid)

            // -- helpful axes X (red), Y (green), Z (blue) 
            // const axesHelper = new THREE.AxesHelper(25);  
            // scene.add(axesHelper);

            modelGroup.add(tilesRenderer.group);
            

            // window.addEventListener('resize', () => {
                // camera.aspect = (window.innerWidth * 0.9) / (window.innerHeight * 0.8);
                // camera.updateProjectionMatrix();
                // renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            // });

            renderLoop();
        };
        
        window.initInteriorModel = function() {
            const container = document.getElementById('interiorModelContainer');
            container.innerHTML = '';

            camera = new THREE.PerspectiveCamera(45, (window.innerWidth * 0.9) / (window.innerHeight * 0.8), 1, {{ selected_flight.script_interior.camera_far }});
            camera.position.set({{ selected_flight.script_interior.camera_position }});
            camera.up = new THREE.Vector3({{ selected_flight.script_interior.camera_axis }});

            scene = new THREE.Scene();
            let light = new THREE.AmbientLight(0x404040, 80);
            scene.add(light);

            const loader = new FBXLoader();
            loader.load('{{ selected_flight.interior_link }}', (object) => {
                scene.add(object);
            });

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            container.appendChild(renderer.domElement);

            const controls = new OrbitControls(camera, renderer.domElement);
            controls.listenToKeyEvents( window );
            const distance = camera.position.distanceTo(controls.target)
            controls.keyPanSpeed = Math.max(1000 * (500 / distance));
            controls.zoomSpeed = 10;
            controls.zoomToCursor = true;
            controls.enablePan = true;
            controls.minDistance = 0;
            controls.maxDistance = 50000;
            controls.minPolarAngle = 0.25;
            controls.maxPolarAngle = 1.8;
            controls.autoRotate = false;
            controls.target = new THREE.Vector3(0, 1, 0);
            controls.update();

            window.addEventListener('resize', () => {
                camera.aspect = (window.innerWidth * 0.9) / (window.innerHeight * 0.8);
                camera.updateProjectionMatrix();
                renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            });

            renderLoop();
        };

        function renderLoop() {
            requestAnimationFrame(renderLoop);

            camera.updateMatrixWorld();
    
            controls.update();

            tilesRenderer.setCamera(camera);
            tilesRenderer.setResolutionFromRenderer(camera, renderer);
            tilesRenderer.update();
    
            

            renderer.render(scene, camera);
        }
          
        </script>

      {% endblock %}