{% extends 'base.html'%}
        {% block title %}
          <title> {{property.name}} Property </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block body %}
        
        <header class="d-flex align-items-center" style="padding-top: 3vh; padding-bottom: 3vh; background-color: rgba{{owner_palette1}}">
          <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1" style="font-size: 5.5rem;">{{owner_name}}</h1>
            <h2 class="mb-1" style="font-size: 3.5rem;">{{property.name}}</h2>
          </div>
        </header>
        
        <div style="padding-top: 4vh; padding-bottom: 1vh">
          {% comment %} dropdown section {% endcomment %}
          <div class="dropdown" style="padding-left: 1vw; padding-top: 1vh padding-bottom: 1vh">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              {% if selected_flight %}
                {{ selected_flight.date}}
              {% else %}
                Select a date
              {% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for flight in flights %}
                <li>
                  <a class="dropdown-item" href="?date={{ flight.date|date:'Y-m-d' }}">
                    {{ flight.date}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% comment %} main section {% endcomment %}
          <div style="padding-left: 2vw; padding-right: 2vw; padding-top: 2vh; padding-bottom: 2vh;">
              <div class="row">
                  <div class="col-md-4 mb-3 d-flex justify-content-center">
                    <button class="btn btn-link p-0" onclick="showContent('overflightContent')">
                        <img src={{selected_flight.overflight_thumbnail_link}} style="width:34vw; height:auto; border-radius:2vw;" alt="Drone Flyover" class="img-fluid">
                        <br><br>
                        <h2 class="text-decoration-none" style="color: #333;">Overflight</h2>
                    </button>
                  </div>
                  <div class="col-md-4 mb-3 d-flex justify-content-center">
                    <button class="btn btn-link p-0" onclick="showContent('exteriorModelContent')">
                        <img src={{selected_flight.exterior_thumbnail_link}} style="width:34vw; height:auto; border-radius:2vw;" alt="Drone Flyover" class="img-fluid">
                        <br><br>
                        <h2 class="text-decoration-none" style="color: #333;">3D Exterior Model</h2>
                    </button>
                  </div>
                  <div class="col-md-4 mb-3 d-flex justify-content-center">
                    <button class="btn btn-link p-0" onclick="showContent('interiorModelContent')">
                        <img src={{selected_flight.interior_thumbnail_link}} style="width:34vw; height:auto; border-radius:2vw;" alt="Drone Flyover" class="img-fluid">
                        <br><br>
                        <h2 class="text-decoration-none" style="color: #333;">3D Interior Model</h2>
                    </button>
                  </div>
              </div>
          </div>
        </div>

        {% comment %} content area {% endcomment %}
        <div id="contentArea" class="container-fluid" style="padding-top: 6vh; padding-bottom: 6vh; background-color: rgba(213,207,199,1)">
          <div class="d-flex justify-content-center">
              <div id="overflightContent" class="content-section" style="width: 100%; height: 100%;">
                <div class="d-flex justify-content-center">
                  <video controls style="width: 75%; height: 100%;" id="overflightVideoElement">
                      <source src="{{selected_flight.overflight_link}}" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>
                </div>
              </div>
          </div>
          <div class="d-flex justify-content-center">
              <div id="exteriorModelContent" class="content-section">
                  <div id="exteriorModelContainer" class="d-flex justify-content-center">
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center">
              <div id="interiorModelContent" class="content-section">
                  <div id="interiorModelContainer" class="d-flex justify-content-center">
                  </div>
              </div>
          </div>
        </div>

        {% comment %} footer {% endcomment %}
        <footer class="footer text-center" style="margin-top:auto;padding-top: 4vh;">
            <div class="container px-4 px-lg-5">
                <p class="text-muted small mb-0">These are not official surveys. No models should be relied upon for safety. All models should be used strictly for planning and estimate purposes.</p>
                {% comment %} <p class="text-muted small mb-0">Copyright &copy; SunriseDrones 2024</p> {% endcomment %}
            </div>
        </footer>


      <script>

        document.getElementById('overflightVideoElement').playbackRate = 1.5;

      </script> 


      <script>


        function showContent(contentId) {
          document.querySelectorAll('.content-section').forEach(section => {
            section.classList.remove('show');
          });
      
          const selectedContent = document.getElementById(contentId);
          selectedContent.classList.add('show');
          
          if (contentId === 'exteriorModelContent' && !exteriorModelLoaded) {
            initExteriorModel();  
            exteriorModelLoaded = true;  
          } else if (contentId === 'interiorModelContent' && !interiorModelLoaded) {
            initInteriorModel();  
            interiorModelLoaded = true;  
          }
          
        }

        let exteriorModelLoaded = false;
        let interiorModelLoaded = false;
      </script>

   

      {% comment %} exterior model {% endcomment %}
      <script type="module">
        import * as THREE from 'three';
        import WebGL from 'three/addons/capabilities/WebGL.js';
        import { FBXLoader } from 'three/addons/loaders/FBXLoader.js';
        import { OrbitControls } from 'three/addons/controls/OrbitControls.js';

        let camera, scene, renderer, loader;
       

        window.initExteriorModel = function() {
            const container = document.getElementById('exteriorModelContainer');
            container.innerHTML = '';  // Clear previous content

            camera = new THREE.PerspectiveCamera(45, (window.innerWidth * 0.9) / (window.innerHeight * 0.8), 1, 200000);
            camera.position.set(-7500, 10000, 5000);

            scene = new THREE.Scene();
            let light = new THREE.AmbientLight(0x404040, 80);
            scene.add(light);

            const loader = new FBXLoader();
            loader.load('{{ selected_flight.exterior_link }}', (object) => {
                scene.add(object);
            });

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            container.appendChild(renderer.domElement);

            const controls = new OrbitControls(camera, renderer.domElement);
            controls.listenToKeyEvents( window );
            const distance = camera.position.distanceTo(controls.target)
            controls.keyPanSpeed = Math.max(10000 * (500 / distance));
            controls.zoomSpeed = 10;
            controls.zoomToCursor = true;
            controls.enablePan = true;
            controls.minDistance = 0;
            controls.maxDistance = 50000;
            controls.minPolarAngle = 0.25;
            controls.maxPolarAngle = 1.8;
            controls.autoRotate = false;
            controls.target = new THREE.Vector3(0, 1, 0);
            controls.update();

            window.addEventListener('resize', () => {
                camera.aspect = (window.innerWidth * 0.9) / (window.innerHeight * 0.8);
                camera.updateProjectionMatrix();
                renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            });

            animate();
        };
        
        window.initInteriorModel = function() {
            const container = document.getElementById('interiorModelContainer');
            container.innerHTML = '';  // Clear previous content

            camera = new THREE.PerspectiveCamera(45, (window.innerWidth * 0.9) / (window.innerHeight * 0.8), 1, 200000);
            camera.position.set(-7500, 10000, 5000);

            scene = new THREE.Scene();
            let light = new THREE.AmbientLight(0x404040, 80);
            scene.add(light);

            const loader = new FBXLoader();
            loader.load('{{ selected_flight.interior_link }}', (object) => {
                scene.add(object);
            });

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            container.appendChild(renderer.domElement);

            const controls = new OrbitControls(camera, renderer.domElement);
            controls.listenToKeyEvents( window );
            const distance = camera.position.distanceTo(controls.target)
            controls.keyPanSpeed = Math.max(10000 * (500 / distance));
            controls.zoomSpeed = 10;
            controls.zoomToCursor = true;
            controls.enablePan = true;
            controls.minDistance = 0;
            controls.maxDistance = 50000;
            controls.minPolarAngle = 0.25;
            controls.maxPolarAngle = 1.8;
            controls.autoRotate = false;
            controls.target = new THREE.Vector3(0, 1, 0);
            controls.update();

            window.addEventListener('resize', () => {
                camera.aspect = (window.innerWidth * 0.9) / (window.innerHeight * 0.8);
                camera.updateProjectionMatrix();
                renderer.setSize((window.innerWidth * 0.9), (window.innerHeight * 0.8));
            });

            animate();
        };

        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }
          
        </script>

      {% endblock %}