{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Evan Carter" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}
      <br><br><br><br>
      <h2 style="font-size:3vw">{% trans "Other Interests" %}</h2>
      <br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-12">
          </div>
          <div class="col-sm-4 col-12">
            <a href="{% url 'sunrise-model' %}"><img src="https://i.imgur.com/hrJyXYb.jpg" style="width:24vw; height:auto; border-radius:2vw;" alt="Drone Photogrammetry"></a>
            <br><br><br>
            <h2> {% trans "Drone Photogrammetry" %} </h2>
          </div>
          <div class="col-sm-4 col-12">
            <a href="{% url 'login' %}"><img src="https://i.imgur.com/skFopHb.jpg" style="width:24vw; height:auto; border-radius:2vw;" alt="Experience Portfolio"></a>
            <br><br><br>
            <h2> {% trans "Experience Design" %} </h2>
          </div>
        </div>
        <br><br>
      </div>  
      
        {% endblock %}


