{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Evan Carter" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}
      <br><br><br><br>
      <h2 style="font-size:3vw">{% trans "Other Interests" %}</h2>
      <br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-12">
            <a href="{% url 'translation' %}"><img src="https://drive.google.com/uc?id=1H8VXoeHqHjP31_DjNmceRFfdGtfRwUI9&export=download" style="width:24vw; height:auto; border-radius:2vw;" alt="Translation & Interpretation"></a>
            <br><br><br>
            <h2> {% trans "Translation & Interpretation" %} </h2>
          </div>
          <div class="col-sm-4 col-12">
            <a href="{% url 'threeD' %}"><img src="https://drive.google.com/uc?id=1b6WHzMyEsOJUwIJHSsGfGutQI20xmuhc&export=download" style="width:24vw; height:auto; border-radius:2vw;" alt="Drone Photogrammetry"></a>
            <br><br><br>
            <h2> {% trans "Drone Photogrammetry" %} </h2>
          </div>
          <div class="col-sm-4 col-12">
            <a href="{% url 'login' %}"><img src="https://drive.google.com/uc?id=1V4X7OzF3l9f7DAJjnIB9SxA0tQD4bb4k&export=download" style="width:24vw; height:auto; border-radius:2vw;" alt="Experience Portfolio"></a>
            <br><br><br>
            <h2> {% trans "Experience Design" %} </h2>
          </div>
        </div>
        <br><br><br><br>
        <div class="row">
          <div class="col-sm-4 col-12">
            <a href="https://dunktionary.pythonanywhere.com/" target="_blank"><img src="https://drive.google.com/uc?id=1BiGo5xfsE0zt4c4VsoXKOXCx3lcYZaMg&export=download" style="width:24vw; height:auto; border-radius:2vw;" alt="The Dunktionary"></a>
            <br><br><br>
            <h2> {% trans "Full-Stack Development" %} </h2>
            <style>
              .col-12:hover {
                transform: translateY(-15px);
              }
            </style>
          </div>
        </div>
      </div>  
      
        {% endblock %}


