{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "3D Photogrammetry" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}

      <br><br><br><br>
      <div class="container justify-content-center">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-4 col-12">
            <blockquote class="imgur-embed-pub" lang="en" data-id="a/iNIqNSY" data-context="false" ><a href="//imgur.com/a/iNIqNSY"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            <h3> {% trans "Sunrise Property" %} </h3>
          </div>
        </div>    
      </div>  
      
        {% endblock %}


