{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "3D Photogrammetry" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}

      <br><br><br><br>
      <div class="container justify-content-center">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-4 col-12">
              <embed
                    src="https://i.imgur.com/t1Tvutd.mp4"
                    wmode="transparent"
                    type="video/mp4"
                    width="580" height="400"
                    allow="autoplay; encrypted-media; picture-in-picture"
                    allowfullscreen
                    title="Sunrise Property"
                  >
            <h3> {% trans "Sunrise Property" %} </h3>
          </div>
        </div>    
      </div>  
      
        {% endblock %}


