{% extends 'base.html'%}
{% load i18n %}
        {% block title %}
          <title> {% trans "Translator" %} </title>
        {% endblock %}
        
        {% block search %}
        {% endblock %}
        
        {% block content %}

      <br><br><br><br>

      <div class="container1">
        <div class="row" style="justify-content:center;">
          <div class="col-sm-2 col-2" style="margin: 1vw; position: relative; text-align: center;">
              <img src="https://drive.google.com/uc?id=1b3HKELqCrHRNgfa7eRDrOgueWkwNXII_&export=download" alt="Translation" style="width: 9vw; height: auto; cursor: pointer; outline:0; object-fit: cover;" onclick="changeFolder('folder1')">
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 1vw;">
                  Translation
              </div>
          </div>
          <div class="col-sm-2 col-2" style="margin: 1vw; position: relative; text-align: center;">
            <img src="https://drive.google.com/uc?id=1b3HKELqCrHRNgfa7eRDrOgueWkwNXII_&export=download" alt="Localization" style="width: 9vw; height: auto; cursor: pointer; outline:0; object-fit: cover;" onclick="changeFolder('folder2')">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 1vw;">
                Localization
            </div>
          </div>
          <div class="col-sm-2 col-2" style="margin: 1vw; position: relative; text-align: center;">
            <img src="https://drive.google.com/uc?id=1b3HKELqCrHRNgfa7eRDrOgueWkwNXII_&export=download" alt="Interpretation" style="width: 9vw; height: auto; cursor: pointer; outline:0; object-fit: cover;" onclick="changeFolder('folder3')">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 1vw;">
                Interpretation
            </div>
          </div>
        </div>    
      </div>  
      <br><br><br><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2> {% trans "Translation & Localization" %} </h2>
            <br><br><br><br>
            <h3> {% trans "SDL MultiTerm/Trados: Naturalization Certificate" %} </h3>
            <img src="https://drive.google.com/uc?id=1YGxtIF2MgiMKXMGwEZN4fzU8suYcfxU5&export=download" style="width:25vw; height:auto; border-radius:2vw;" alt="Naturalization Certificate"></a>
            <br><br>
            <h3> {% trans "LingoTek TMS" %} </h3>
            <br><br>
            <h3> {% trans "Django Web Localization" %} </h3>
          </div>
          <div class="col-sm-6">
            <h2> {% trans "Interpretation" %} </h2>
            <br><br><br><br>
            <div class="row" style="justify-content:center; align-items:center;">
                <div class="col-md-5" style="justify-content:center; align-items:center;">
                    <h4> {% trans "MBJP" %} </h4>
                    <img src="https://drive.google.com/uc?id=1gAtDyYl57pKDkcGXthPqduaimO341QO3&export=download" style="width:10vw; height:auto; border-radius:2vw;" alt="MBJP"></a>
                    <h5 style="text-align: left;"> {% trans "Live interpreted more than 20 conferences from PT-BR to EN-US" %} </h5>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <h4> {% trans "NBA House" %} </h4>  
                    <img src="https://drive.google.com/uc?id=1xFikN2GFEka02oWDKYvWOTNSqNFHRlhs&export=download" style="width:10vw; height:auto; border-radius:2vw;" alt="NBA House"></a>
                    <h5 style='text-align:left;'> {% trans "Provided live interpretations of daily tasks to 18 performers and interpreted rehearsal setup and performance" %} </h5>
                </div>  
            </div>
          </div>
        </div>    
      </div>  
      
        {% endblock %}


